#head{
    color:#D04848;
    text-align: center;
}
.para{
    color:#6895D2;
    text-align:center;
    text-align: justify;
    padding-left: 20rem;
}
h4{
    padding-left: 20rem;
    color: #0B60B0;
}
span{
    color:#FE7A36;
}